[Unit]
Description=Python Waterlevel to MQTT
After=network-online.target

[Service]
EnvironmentFile=/home/{{ service_user }}/secrets.env
ExecStart=/usr/bin/python3 -u waterlevel-mqtt.py
WorkingDirectory=/var/home/{{ service_user }}

[Install]
WantedBy=default.target
