# /etc/NetworkManager/system-connections/{{ wifi_ssid }}.nmconnection
[connection]
id={{ wlan_ssid }}
type=wifi

[wifi]
mode=infrastructure
ssid={{ wlan_ssid }}

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{ wlan_psk }}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
